<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form id="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" id="exampleInputEmail1" name="username" type="email"
                           aria-describedby="emailHelp" required="required"
                           placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" id="exampleInputPassword1" name="password" type="password"
                           placeholder="Password" required="required">
                </div>
                <!--<div class="form-group">-->
                    <!--<div class="form-check">-->
                        <!--<label class="form-check-label">-->
                            <!--<input class="form-check-input" type="checkbox"> Remember Password</label>-->
                    <!--</div>-->
                <!--</div>-->
                {% module xsrf_form_html() %}
                <input id="submit" type="submit" value="Login" class="btn btn-primary btn-block">
            </form>
            <!--<div class="text-center">-->
            <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>-->
            <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    }

    // function sub(){
    //     $.ajax(
    //             {
    //                 url: "/login",
    //                 headers: {
    //                     "X-XSRFToken": getCookie("_xsrf"),
    //                 },
    //                 data: $('#form').serialize(),
    //                 type: "post",
    //                 success: function (result) {
    //                     if (result === "ok") {
    //                         window.location.href = location.protocol + "//" + location.host + decodeURIComponent($.urlParam('next'));
    //                     }
    //                     else {
    //                         alert(result);
    //                     }
    //                 }
    //             }
    //         )
    // }

    $(function () {
        // $("#submit").click(function () {
        //     $.ajax(
        //         {
        //             url: "/login",
        //             headers: {
        //                 "X-XSRFToken": getCookie("_xsrf"),
        //             },
        //             data: $('#form').serialize(),
        //             type: "post",
        //             success: function (result) {
        //                 if (result === "ok") {
        //                     window.location.href = location.protocol + "//" + location.host + decodeURIComponent($.urlParam('next'));
        //                 }
        //                 else {
        //                     alert(result);
        //                 }
        //             }
        //         }
        //     )
        //     // return false;
        // })
        $("#form").submit(function(){
            $.ajax(
                {
                    url: "/login",
                    headers: {
                        "X-XSRFToken": getCookie("_xsrf"),
                    },
                    data: $('#form').serialize(),
                    type: "post",
                    success: function (result) {
                        if (result === "ok") {
                            window.location.href = location.protocol + "//" + location.host + decodeURIComponent($.urlParam('next'));
                        }
                        else {
                            alert(result);
                        }
                    }
                }
            )
            return false;
        })
    })
</script>

</html>
